@import url('https://fonts.googleapis.com/css?family=Merienda+One|Open+Sans&display=swap');

body {
    margin:0;
    background-color:whitesmoke;
}

header{
    background-color: seagreen;
    padding: 20px;
}

.page-header{
height: 30vh;
}

.text-left{text-align: left;}

.center-aligned{text-align:center;
    text-transform: uppercase;
    padding: 1rem;
}

header,nav{ margin:0px;
}

#name{
    font-size: 5rem;
    font-family:cursive, monospace, 'sans-serif'; 
    margin-top: 15px;
    }

#motto{
    font-style: rgb(209, 104, 165);
    font-size: 40px;
    }

 p{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    }

ul{
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        }

nav ul{
    text-decoration: none;
    }

nav{
    padding: 30rem;
    }

div{
    vertical-align:top;
    display:inline-block;
    padding:70px;
    width:40%;
    text-align:justify;
            }

    .first-image{
        width:70%;
        height:20%;
        }

    h3{
        font-size:40px;
        font-family:helvetica, 'sans-serif';
        text-align: center;
        text-transform: capitalize;
    }

    p{
        font-size:25px;
        font-family:"Times New Roman", Times, serif;
        }


    .font-style{
        font-size:25px;
        font-family:"Times New Roman", Times, serif;
    }

    #left-block{
background-color: seagreen;
}

#right-block{
    background-color:burlywood;
    }
    
footer{
    background-color: seagreen;
    padding: 20px;
    text-align: center;
}

