@import url('https://fonts.googleapis.com/css?family=Merienda+One|Open+Sans&display=swap');

body {
    margin:0;
    background-color:whitesmoke;
}


header,nav{
margin:0px;
background-color: rgb(153, 145, 145);
}


#name{
    font-size:xx-large;
    font-family:cursive, monospace, 'sans-serif'; 
    margin:2.5%;
    }

nav ul{
    text-decoration: none;
    text-align:right;
    margin:2.5%;
    text-transform: uppercase;
    }


div{
    vertical-align:top;
    display:inline-block;
    padding:70px;
    width:40%;
    text-align:justify;
            }

    .first-image{
        width:70%;
        height:20%;
        }

    h3{
        font-size:40px;
        font-family:helvetica, 'sans-serif';
        text-align: center;
        text-transform: capitalize;
    }

    p ul{
        font-size:30px;
        font-family:bookman, 'sans-serif';
    }

    #left-block{
background-color: darkturquoise;
}

#right-block{
    background-color: rgb(209, 104, 165);
    }